body{
	height: 100%;
	width: 100%;
	position: absolute;
}
.row{
	display: flex;
	flex-direction: row;
}
.col-md-4 span{
	float: right;
    cursor: pointer;
    margin-top: -20px;
    font-size: 26px;
}
.columna{
	flex-direction: column;
	display: flex;
}

.personas{
	flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.persona{
    margin-left: 2%;
    margin-bottom: 1%;
    background-color: aquamarine;
    margin-right: -1%;
    max-height: 33%;

}
/*.persona {
    margin-left: -2%;
    margin-right: -1%;
    height: 42%;
    width: 50%;
}

.persona img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.close {
	background-color: blue;
	max-width: 10px;
	max-height: 10px;
}